#block {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

h1 {
    font-size: 500%;
    text-align: center;
}

#countdown {
    font-size: 300%;
    text-align: center;
}